 body {
    margin: 0;
    font-size: larger;
    background-color: #FFD89C;
    color: black;
    font-family: system-ui;

}

.mainTitle {
    margin: 0;
    background-color: #A2CDB0;
    text-align: center;
    
}
img{
    max-width: 100%;
    display: block;
}

.container {
    display: grid;
    width: 1fr;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-row: auto auto;
    gap: 8rem;
    margin: 5rem;
}

.card {
    
    aspect-ratio: 1 / 1;
}


.card__content {
    background-color: #F1C27B;
    margin: .5rem .5rem 2rem;
    padding: .5rem;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
}

.card__title {
    font-size: 1.25rem;
    line-height: 1.1;
    text-decoration: none;

}

.card__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    
}

.card__description {
    font-size: 1rem;
    line-height: 1.4;
    

}

footer {
    
    background-color: #A2CDB0;
}
.odin-project {
    align-items: center;
    width: 25rem;
    height: auto;
   

}